#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background-color: #F59E0B;
    color: black;
    border: none;
    cursor: pointer;
    outline: 0px;
    border-radius: 5px;
}

#topBtn:hover {
    background-color: #2563EB;
    color: white;
    outline: 0px;
}